﻿@{
    ViewBag.Title = "AddNewPokemon";

}

<h2>AddNewPokemon</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddNewPokemon</title>
</head>
<body>
    <div>
        <h3>Добавление нового Покемона</h3>
        <form method="post">

            <table>
                <tr>
                    <td><p>Введите имя</p></td>
                    <td><input type="text" name="Name" required /> </td>
                </tr>
                <tr>
                    <td><p>Введите здоровье :</p></td>
                    <td>
                        <input type="text" name="Health" required />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите броню :</p></td>
                    <td>
                        <input type="text" name="Armor" required />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите урон :</p></td>
                    <td>
                        <input type="text" name="Damage" required />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите пробивание :</p></td>
                    <td>
                        <input type="text" name="ArmorIgnore" required />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите скилл :</p></td>
                    <td>
                        <input type="text" name="Skill" required />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Добавить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>