﻿@{
    ViewBag.Title = "Редактирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Pokemons.Models.Pokemon

<h2>Пикачу по имени @Model.Name</h2>

@using (Html.BeginForm("EditPokemon", "Home", "FormMethodPost"))
{
    <fieldset>
        @Html.HiddenFor(m => m.PokemonId)
        <p>
            @Html.LabelFor(m => m.Name, "Имя покемона")
            <br />
            @Html.EditorFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Helth, "Здоровье")
            <br />
            @Html.EditorFor(m =>m.Helth)
        </p>
        <p>
            @Html.LabelFor(m => m.Armor, "Броня")
            <br />
            @Html.EditorFor(m => m.Armor)
        </p>
        <p>
            @Html.LabelFor(m => m.Damage, "Урон")
            <br />
            @Html.EditorFor(m => m.Damage)
        </p>
        <p>
            @Html.LabelFor(m => m.ArmorIgnore, "Пробивание")
            <br />
            @Html.EditorFor(m => m.ArmorIgnore)
        </p>
        <p>
            @Html.LabelFor(m => m.Skill, "Скил")
            <br />
            @Html.EditorFor(m => m.Skill)
        </p>
        <p>
            <input type="submit" value="Редактировать" />
        </p>
    </fieldset>
}
