﻿@model IEnumerable<Pokemons.Models.Pokemon>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="table">
        <h3>Покемоны Пикачу</h3>
        <table>
            <tr>
                <td><p>Имя покемона</p></td>
                <td><p>Здоровье</p></td>
                <td><p>Урон</p></td>
                <td><p>Броня</p></td>
                <td><p>Пробивание</p></td>
                <td><p>Уникальная способность</p></td>
                <td></td>
            </tr>
            @foreach (var b in Model)
            {
                <tr>
                    <td><a href="/Home/ShowDetails/@b.PokemonId"><p>@b.Name</p></a></td>
                    <td><p>@b.Helth</p></td>
                    <td><p>@b.Armor</p></td>
                    <td><p>@b.Damage</p></td>
                    <td><p>@b.ArmorIgnore</p></td>
                    <td><p>@b.Skill</p></td>
                    <td><p><a href="/Home/EditPokemon/@b.PokemonId">Редактировать покемона</a></p></td>
                </tr>
            }
        </table>
    </div>
